

body {
background-color: bisque;
text-align: center;
font-size: 1em
}

.container {
    background: blue;
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin: 0 auto;
    border-radius: 0.5rem;

}

.btn {
    margin-top: 2%;
    padding: 1em;
}

p {
    font-size: 25px;
    font-weight: 600;
}